.display-flex {
  display: flex;
  flex-wrap: wrap;
  
}

.display-grid {
  display: grid;
  grid-gap: unit *2;
  
}
.ul li{
  list-style: none; 
  text-align: left;
  margin: 10 px;
  padding: 10 px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
}

.navbar {
  justify-content: space-between;
  padding: 1px
}

img {
  
  position: relative;
  border: 2px solid;
  align-content: center;
  z-index: 1000;
  border-color: rgba(220, 010, 150, .5);
  column-count: 2;
  column-gap: 5%;
  max-height: 180px;
  /* color: pink; */
}

.main{
  position: flex;
  color: hotpink;
  text-align: center;
  margin: auto;
  margin-left: 18%;
  margin-right: 18%;
  padding: 1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.main-frame {
  border: 2px solid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  
}

a:link{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: hotpink
}
a:visited {
  color: rgba(220, 010, 150, .5);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

body {
  background-color: rgba(100, 010, 100, .1);
  color: rgba(220, 010, 150, .7);
  
}
p {
  text-justify: left;
  padding: 1px;
}
 